{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>poof!</title>
    <style></style>
  </head>

  <body>
    <header>
      <a href="/">
        <img
          style="max-width: 100%; outline:none;"
          alt="poof logo (poof magazine cover)"
          src="/assets/poof.png"
        />
      </a>
      <h1><em>poof!</em> <span style="font-size:50%;font-weight:normal">Simple Secret Sharing</span></h1>
    </header>
{{end}}

{{define "footer" -}}
    <footer>
      <p>
        <small>
          <a href="https://github.com/thechriswalker/poof">Source on Github</a>
        </small>
      </p>
    </footer>
  </body>
</html>
{{end}}
