{{define "privacy"}}{{template "header"}}
<main>
<h2>Privacy Policy <small>2021-09-09</small></h2>

<p>If this is running at <code>https://poof.0x6377.dev</code> then this is a personal project and I have no interest in your data.
<p>If not, then the site owner probably doesn't either.
<p>I want this site and the code powering it to be as useful as possible, so if in doubt: run your own version! (it's super easy, barely an inconvenience! see <a href="https://github.com/thechriswalker/poof">the github page</a>)
<p>In addition:
<ul>
<li>This site sets no cookies.
<li>The secrets entered here are encrypted before sending to the server, and the server <strong>never</strong> has access to the decryption keys.
<li>IP addresses that requests are made from are not logged by the webserver.
</ul>
</main>
{{template "footer"}}{{end}}