{{define "recv"}}{{template "header"}}
<main>
  <h2>Receive a Secret</h2>
  <div style="display:none">
    <input type="hidden" disabled id="passphrase" />
    <input type="hidden" disabled id="key" />
  </div>
  <p>Secret Key: <code id="showkey"></code></p>
  <p><button id="recv">Check and Reveal Secret</button></p>
  <div id="result" style="display: none">
    <h3>Secret Burned</h3>
    <p>
      <strong>Do not</strong> leave this page until you have copied the secret,
      you <strong>will not</strong> be able to see it again.
    </p>

    <p id="copy" style="display: none">
      <button>copy to clipboard</button> <span></span>
    </p>

      <div
        id="secret"
        class="box good"
        style="whitespace:pre-wrap"
      ></div>
  </div>

  <div
    id="error"
    class="box bad"
    style="display: none"
  >
    <h3>Something has gone wrong...</h3>
    <ul id="errors"></ul>
  </div>
</main>
<script nomodule>
  alert("Sorry, your browser doesn't support the required features");
</script>
<script type="module">
  import {
    checkBrowserSupport,
    decrypt,
    processPassphrase,
    useClipboard,
    dom,
  } from "/assets/poof.js";

  main();
  async function main() {
    const { ok, error } = await checkBrowserSupport();
    if (!ok) {
      alert(
        "Sorry, your browser doesn't support the required features\n" +
          error.message
      );
      return;
    }

    const {
      $key,
      $showkey,
      $passphrase,
      $secret,
      recv: $button,
      $result,
      $error,
      $errors,
      $copy,
    } = dom;


    // clipboard
    // set up clipboard
    useClipboard($copy, $secret);


    function handleErrors(errs) {
      $errors.textContent = "";
      errs.forEach((err) => {
        const $li = document.createElement("li");
        $li.textContent = err;
        $errors.appendChild($li);
      });
      $error.style.display = "block";
    }

    // key and passphrase are in the fragment.
    const data = new URLSearchParams(location.hash.replace(/^#?/, ""));
    const key = data.get("key");
    const urlErrors = [];
    if (key) {
      $key.value = key;
      $showkey.textContent = key;
    } else {
      urlErrors.push("URL did not contain the `key`");
    }
    // passphrase should be in fragment.
    const phrase = data.get("pass");
    if (phrase) {
      $passphrase.value = phrase;
    } else {
      urlErrors.push("URL did not contain the `pass`");
    }
    if (!key || !phrase) {
      urlErrors.push(
        "URL does not contain all the required information. Please check the copied URL is complete and reload."
      );
      inflight = true;
      $button.disabled = true;
      handleErrors(urlErrors);
      return;
    }

    // only let the button be pressed once.
    let inflight = false;
    $button.addEventListener("click", async () => {
      if (inflight) {
        return;
      }
      inflight = true;
      $button.disabled = true;

      const url = new URL("/api/recv", location);

      // hash the passphrase.
      const { derivationKey, hash } = await processPassphrase(
        $passphrase.value
      );
      const payload = { key: $key.value, hash };
      let ciphertext;
      try {
        const { enc = null, errors = null } = await fetch(url.href, {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams(payload).toString(),
        }).then((r) => r.json());

        if (errors.length) {
          handleErrors(errors);
          return;
        }
        ciphertext = enc;
      } catch (err) {
        handleErrors([err.message]);
        return;
      }
      // anything after this and the secret is burned...
      $button.textContent = "Secret Burned";
      try {
        const secret = await decrypt(ciphertext, derivationKey);
        // OK boom!
        $secret.textContent = secret;
        $result.style.display = "block";
        // if it was burned, then you will not be able to recover it.
        // best warn on page unload
        window.onbeforeunload = (evt) => {
          evt.preventDefault();
          const warning =
            "Navigating away from a burned secret will prevent ever recovering it.\n\n" +
            "Are you sure you wish to leave this page?";
          return (evt.returnValue = warning);
        };
      } catch (err) {
        handleErrors([`Error decrypting secret - invalid. It is now burned`]);
      }
    });
  }
</script>
{{template "footer"}}{{end}}
