{{define "send"}}{{template "header"}}
<main>
  <p><strong>poof!</strong> is a simple, secure, time-constrained, one-time password sharing service, so you don't email/IM passwords to colleagues/friends/family.
  <p>There's a lot more technical detail on <a href="https://github.com/thechriswalker/poof">Github</a> and the source code is really small, so as to be auditable.

  <h2>What is this and why should I use/trust it?</h2>
  
  <p>Have a look at the <a href="/faq">FAQs</a> and decide for yourself.</p>

  <h2>Share a secret</h2>
  <dl>
    <dt>Secret:</dt>
    <dt></dt>
    <dd>
      <textarea autocomplete="false" spellcheck="false" id="secret"></textarea>
    </dd>
    <dt>Expiry:</dt>
    <dt></dt>
    <dd>
      <select id="ttl">
        <option value="60">1 minute</option>
        <option value="300">5 minutes</option>
        <option value="3600" selected>1 hour</option>
        <option value="86400">1 day</option>
      </select>
    </dd>
  </dl>
  <p style="font-size: large">
    <button id="share">Create Sharing Link</button>
  </p>

  <div id="result" style="display: none">
    <h3>URL Created</h3>
    <p>
      Visiting the URL will not burn it, but clicking the
      <mark>reveal</mark> button on the linked page will.
    </p>
    <p id="copy" style="display: none">
      <button>copy to clipboard</button> <span></span>
    </p>
    <p class="box good">
      <a id="link" target="_blank"></a>
    </p>
  </div>

  <div id="error" class="box bad" style="display: none">
    <h3>Something has gone wrong...</h3>
    <ul id="errors"></ul>
  </div>
</main>

<script nomodule>
  alert("Sorry, your browser doesn't support the required features");
</script>
<script type="module">
  import {
    checkBrowserSupport,
    encrypt,
    processPassphrase,
    generatePassphrase,
    useClipboard,
    dom,
  } from "/assets/poof.js";
  main();
  async function main() {
    const { ok, error } = await checkBrowserSupport();
    if (!ok) {
      alert(
        "Sorry, your browser doesn't support the required features\n" +
          error.message
      );
      return;
    }

    // elements
    const { $secret, $ttl, $share, $result, $link, $error, $errors, $copy } = dom;

    // set up clipboard
    useClipboard($copy, $link)

    function handleErrors(errs) {
      $errors.textContent = "";
      errs.forEach((err) => {
        const $li = document.createElement("li");
        $li.textContent = err;
        $errors.appendChild($li);
      });
      $error.style.display = "block";
    }

    $share.addEventListener("click", async () => {
      $error.style.display = "none";
      $result.style.display = "none";

      // get all the data asap.
      const secret = $secret.value;
      const passphrase = await generatePassphrase();
      const ttl = Number.parseInt($ttl.value, 10);

      const { derivationKey, hash } = await processPassphrase(passphrase);
      const ciphertext = await encrypt(secret, derivationKey);
      const payload = { enc: ciphertext, hash, ttl };

      // call out to the API.
      let serverKey;
      try {
        const { key = null, errors = [] } = await await fetch("/api/send", {
          method: "POST",
          headers: { "Content-Type": "application/x-www-form-urlencoded" },
          body: new URLSearchParams(payload).toString(),
        }).then((res) => res.json());

        if (errors.length) {
          handleErrors(errors);
          return;
        }
        serverKey = key;
      } catch (err) {
        handleErrors([err.message]);
        return;
      }

      // update the result div with the key and the hash.
      const url = new URL("/recv", location);
      const fragment = new URLSearchParams({
        key: serverKey,
        pass: passphrase,
      }).toString();
      url.hash = fragment;
      $link.href = url.href;
      $link.textContent = url.href;
      $result.style.display = "block";
    });
  }
</script>
{{template "footer"}}{{end}}
